/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/DropDownProfie/index.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.dropDownProfile{
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    width: auto;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray
}

.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
